@font-face {
  font-family: "spacemono";
  src: url("../../ressources/font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Moonbright";
  src: url("../../ressources/font/Moonbright.ttf");
}

/* -----------  DEBUG --------- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-*/

/* -----------  GLOBAL RULE ---------- # # # # # # # # # # # # # # # # # # # #*/

:root {
  --black: #000;
  --grey: #faf9f5;
  --yellow: #ffcc33;
  --orange: #ffa500;
}

/* font par defaut par priorite */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
}

/*  # # # # # # # # # #  Menu  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */
header {
  display: flex;
  /* height: 70px;  on laisse la taille s'adapter aux objets*/
  align-items: center;
  justify-content: space-between;
  background-color: #faf9f5;
  padding: 1rem 3rem;
  /* padding avec 4 valeurs donne les 4 hautbasdroigauche */
  overflow: scroll;
}

.logo {
  font-family: "VT323", monospace;
  font-size: 3em;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
}

.menuitem {
  font-family: spacemono;
  margin: 5px;
}

.cart-item {
  position: relative;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--yellow);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  border-radius: 50%;
}

/*  # # # # # # # # # #  Hero  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(250, 110, 35, 0.5),
      rgba(255, 200, 50, 0.5)
    ),
    url("../../ressources/images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100px;
  min-height: 300px;
  width: 100%;
  height: 60vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero-text {
  font-size: 10vw;
  color: var(--yellow);
  font-family: moonbright;
}

/*  # # # # # # # # # #  See More  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */
/* attention j'utilise seemore class pour le conteneur et pour un des contenus */
.seemore {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: spacemono;
}
.slantedrectange {
  position: absolute;
  left: 0;
  background-color: var(--orange);
  font-size: 2rem;
  transform: rotate(-10deg);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.5rem;
  /* line-height: 100%; */
}

/*  # # # # # # # # # #  Collections  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */

/* tout le bloc */
.collections {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  justify-content: flex-start;
  align-items: center;
  height: 850px;
  margin: 20px;
}
.collections::-webkit-scrollbar {
  display: none;
}
/* un sous bloc personne */

.collection_item {
  min-width: 30%;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
}

.img_collection {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.img_collection.correction {
  object-position: 100% 100%;
}

h2 {
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  margin: 5px;
}

/* EXPLORE */
h3 {
  font-family: "spacemono";
  font-weight: bold;
  font-size: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  border-bottom-color: var(--orange);
  margin: 5px;
}

/*  # # # # # # # # # #  Pastille   # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #  */

.pastilleanchor {
  position: relative;
  height: 40px;
}

.pastille {
  display: flex;
  font-weight: bold;

  align-items: center;
  text-align: center;
  background-color: var(--orange);
  width: 12rem;
  height: 12rem;
  font-size: 1.3rem;
  font-family: spacemono;
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  bottom: -5rem;
  right: 2.5rem;
}

/*  # # # # # # # # # #  SUnglasses   # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #  */

.sunglasses {
  background-color: #ffcc33;
  display: flex;
  padding: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block-sunglasses {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.menu-sunglass {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
}

.addtocart {
  font-family: spacemono;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}
