@font-face {
  font-family: "spacemono";
  src: url("../../ressources/font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Moonbright";
  src: url("../../ressources/font/Moonbright.ttf");
}

/* -----------  DEBUG --------- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-*/

[debug],
[debug] * {
  outline: 1px solid red;
  box-shadow: none;
  filter: none;
}
/* -----------  GLOBAL RULE ---------- # # # # # # # # # # # # # # # # # # # #*/

html {
  scroll-behavior: smooth;
}

:root {
  --black: #000;
  --grey: #faf9f5;
  --yellow: #ffcc33;
  --orange: #f87523;
}

/* font par defaut par priorite */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  background-color: #faf9f5;
  transition: all 1s linear;
}

#windowSize {
  background-color: red;
  z-index: 999;
  position: fixed;

  left: 50%;
  bottom: 0;
  padding: 5px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
}

/*  # # # # # # # # # #  Menu  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */
header {
  display: flex;
  position: fixed;
  z-index: 1000;
  /* height: 70px;  on laisse la taille s'adapter aux objets*/
  align-items: center;
  justify-content: space-between;
  background-color: #faf9f5;
  padding: 0.5rem 0.5rem;
  overflow: scroll;
  width: 100vw;
  /* position: fixed; */
}

.clickme {
  background-color: red;
  font-size: 1rem;
  z-index: 999;
  font-family: spacemono;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

.svgel {
  transition: all 0.2s linear;
}
.svgel:hover {
  transform: rotate(180deg);
}

.logo {
  font-family: "spacemono";
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.logo:hover {
  transform: scale(1.3);
  /* font-size: 5em; */
}

nav {
  display: flex;
  align-items: center;
}

/* pour ne pas display le menu special petit format */
nav svg {
  display: none;
}

.menu {
  display: flex;
}

.menuitem {
  font-family: spacemono;
  margin: 5px;
}

.cart-item {
  position: relative;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--yellow);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  border-radius: 50%;
  transition: all 0.4s linear;
}

/*  # # # # # # # # # #  Hero  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(250, 110, 35, 0.5),
      rgba(255, 200, 50, 0.5)
    ),
    url("../../ressources/images/BackgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  height: 700px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heronight {
  background-image: linear-gradient(to bottom, rgba(250, 110, 35, 0.5), black),
    url("../../ressources/images/BackgroundImage.png");
}

.Hero-text {
  font-size: 6rem;
  font-weight: bolder;
  color: white;
  font-family: "DM Sans";
  transition: all 0.1s linear;
}

/*  # # # # # # # # # #  See More  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */
.seemore {
  display: flex;

  justify-content: flex-end;
  position: relative;
  align-items: center;
  /* padding: 1rem; */
  margin-top: 1rem;
}

.seemore h2 {
  font-size: 1.5rem;
  font-family: spacemono;
}

.seemore div {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.1s linear;
}

.seemore svg {
  transition: all 0.1s linear;
}

/* Pour appeler le svg sans s'embeter a lui donner une classe: SVG dans SEEMORE */
.slantedrectange {
  position: absolute;
  left: 0;
  margin-left: 10px;
  background-color: var(--orange);
  font-size: 2.5rem;
  transform: rotate(-5deg);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.3rem;
  transition: transform 0.1s linear;

  /* le transform ease dans l'element avant hoover */
  /* currentcolor pour heriter de la couleur du parent */
}
.slantedrectange:hover {
  transform: rotate(180deg) scale(2);
}

/*  # # # # # # # # # #  Collections  # # # # # # # # # #  # # # # # # # # # # # # # # # # # # # # */

/* tout le bloc */
.collections {
  background-color: #faf9f5;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  justify-content: flex-start;
  align-items: center;
  /* height: 850px; */
  /* margin: 10px; */
}

/* sur les browser qui ont le kit */
.collections::-webkit-scrollbar {
  display: none;
}
/* un sous bloc personne */

.collection_item {
  flex: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.collection_item img {
  /* ne pas recreer une classe on peut appeler IMG dans colle imte */
  /* NOTE 100% d'une image est le pourcentage par rapport a sa taille a elle meme: */
  /* il faut la considerer comme un conteneur d'elle meme */
  max-width: 100%;
  /* on laisse maxwitth 100% pour une image comme securite qu elle ira pas au dela */
  width: 600px;
  max-height: 450px;
  object-fit: cover;
  /* transition: transform 0.5s ease; */
  transition: all 0.2s linear;
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
}

.imgfront {
  position: absolute;
  top: 0px;
  cursor: pointer;
  opacity: 1;
  z-index: 4;
}

.collection_item img:hover {
  opacity: 0.4;
  transform: rotate(90deg);
}

h2 {
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  margin: 5px;
}

/* EXPLORE */
h3 {
  font-family: "spacemono";
  font-weight: bold;
  font-size: 0.8em;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  border-bottom-color: var(--orange);
  margin: 5px;
}

/*  # # # # # # # # # #  Pastille   # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #  */

.pastilleanchor {
  position: relative;
  height: 40px;
}

.pastille {
  display: flex;
  font-weight: bold;

  align-items: center;
  text-align: center;
  background-color: var(--orange);
  width: 14rem;
  height: 14rem;
  font-size: 1rem;
  font-family: spacemono;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  padding: 1rem;
  position: absolute;
  bottom: -8rem;
  right: 2.5rem;
  transition: transform 0.5s ease;
}
.pastille:hover {
  transform: rotate(1070deg) scale(0.5);
  /* transform: scale(2); */
}

/*  # # # # # # # # # #  SUnglasses   # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #  */

.sectionsunglassesbox {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../ressources/images/Background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionsunglassesbox .slantedrectange {
  margin-left: 5vw;
  /* padding-top: 100px; */
}

.sunglasses {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block-sunglasses {
  /* background-color: #efefef; */
  position: relative;
  flex: 1 1 500px;
  margin: 0.3em;
  /* border-radius: 50%; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagelunettecontenair {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}
.block-sunglasses img {
  transition: all 0.5s ease;
  border-width: 1px;
}

.block-sunglasses img:hover {
  transform: rotate(800deg) scale(10);
  opacity: 0;
}

.menu-sunglass {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
}
.menu-sunglass p {
  padding: 10px;
  font-family: monospace;
}

.addtocart {
  font-family: spacemono;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  transition: all 0.1s ease;
  padding: 10px;
  margin: 5px;
}

.addtocart:hover {
  background-color: red;
}

.browsebox {
  font-size: 2rem;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  padding: 1rem;
  font-family: spacemono;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 1rem;
  background-color: orange;
}
footer span {
  display: inline-block;
  margin: 1rem;
  font-weight: bold;
}

/*  # # # # # # # # # #  Responsivity   # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #  */

@media (max-width: 850px) {
  .cart-item {
    display: none;
  }

  nav svg {
    display: inline;
  }

  .menu {
    display: none;
  }

  .collection_item img {
    width: 300px;
    height: 300px;
  }

  .slantedrectange {
    position: absolute;
    left: 0;
    background-color: var(--orange);
    font-size: 1.5rem;
    transform: rotate(-5deg);
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.3rem;
    transition: transform 0.3s ease;
  }

  .pastille {
    display: flex;
    font-weight: bold;

    align-items: center;
    text-align: center;
    background-color: var(--orange);
    width: 7rem;
    height: 7rem;
    font-size: 0.5rem;
    font-family: spacemono;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    bottom: -8rem;
    right: 2.5rem;
    transition: transform 0.5s ease;
  }

  .seemore h2 {
    display: none;
  }
}
